<style>
  .c_details {
    margin: -15px 0 10px;
  }
  .c_details span {
    display: flex;
    gap: 5px;
  }
  p.line-item-property__field {
    margin: 0;
  }
  .line-item-property__field input {
    padding: 5px;
    font-size: 15px;
    width: 100%;
  }
</style>
<div class="c_details">
  <span>
    <p class="line-item-property__field">
      <label for="first-name">First Name:</label>
      <input
        required
        class="required"
        id="first-name"
        type="text"
        name="properties[First Name]">
    </p>
    <p class="line-item-property__field">
      <label for="last-name">Last Name:</label>
      <input
        required
        class="required"
        id="last-name"
        type="text"
        name="properties[Last Name]">
    </p>
  </span>

  <p class="line-item-property__field">
    <label for="address">Address:</label>
    <input
      required
      class="required"
      id="address"
      type="text"
      name="properties[Address]">
  </p>

  <span>
    <p class="line-item-property__field">
      <label for="apt">Apt:</label>
      <input
        required
        class="required"
        id="apt"
        type="text"
        name="properties[Apt]">
    </p>
    <p class="line-item-property__field">
      <label for="city">City:</label>
      <input
        required
        class="required"
        id="city"
        type="text"
        name="properties[City]">
    </p>
  </span>
  <span>
    <p class="line-item-property__field">
      <label for="state">State:</label>
      <input
        required
        class="required"
        id="state"
        type="text"
        name="properties[State]">
    </p>
    <p class="line-item-property__field">
      <label for="zip-code">Zip Code:</label>
      <input
        required
        class="required"
        id="zip-code"
        type="text"
        name="properties[Zip Code]">
    </p>
  </span>
  <p class="line-item-property__field">
    <label for="email">Email:</label>
    <input
      id="email"
      type="text"
      name="properties[Email]">
  </p>
</div>