<style>
  .fpi {
    margin: 0;
  }
  .fpi h3 {
    text-align: center;
  }
</style>

<div
  class="fpi">

  <h3>Family Wishes</h3>

  <p>Elite Funeral Concierge Services</p>
  <p>Get Covered Today — Apply In Minutes</p>
  <p>Select Your Product:</p>
  <p>Check Adult</p>

</div>